body{
	width: 100vw;
	height: 100vh;
	display: flex;
	background-color: #222222; 
}

.emboss-text{
	font-style: 180px;
	font-family: Palatino;
	letter-spacing: 5px;
	color: rgb(207, 207, 207);
	align-items: center;
	justify-content: center;
	overflow: hidden;
	position: absolute;
  	left: 50%;
  	top: 50%;
  	transform: translate(-50%, -50%);
  }

.developers{
	font-style: 180px;
	font-family: serif;
	letter-spacing: 3px;
	color: rgb(207, 207, 207);
	position: absolute;
	left: 50%;
  	top: 50%;
  	transform: translate(-50%, 50%);
}

button{
  background-color: #2E2E2E;
  border: 2px solid #272727;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-family: Comic Sans MS;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-150%, 200%);
}

button.about{
	position: absolute;
  	left: 50%;
  	top: 50%;
  	transform: translate(-160%, 200%);
}

button.content{
	position: absolute;
  	left: 50%;
  	top: 50%;
  	transform: translate(40%, 200%);
}

button:hover{
	background-color: #FEFEFE;
	color: #2E2E2E;
	cursor: pointer;
}